h1{
color: white;


}
footer { 
	color: whitesmoke;
}

img {

	width: 60%;
}


h2, h3 {

	color: black;
}

.wrapper {
padding: 0 2em;
}
.wrapper img {
	margin: 0 auto;
	display: block;
}

.inner {
    display: grid;
    border: 5px solid #ccc;
    background: black;
    /*grid-template-columns: repeat(auto-fill, 25%)*/
    grid-template-columns: 20% 20% 20%;
    gap: 5%;
}


.grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.grid3 img {
	width: 100%;
}
.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#splash {
	background-image: url("./pictures/beer-quiz.jpg");
	height: 80vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
}

.wrapper div {
    width: 1300px;
    margin: 0 auto;
}

.inner div {
    display: grid;
    border: 5px solid #ccc;
    /*grid-template-columns: repeat(auto-fill, 25%)*/
    grid-template-columns: 20% 20% 20%;
    gap: 5%;
}

.card div {
    border: 2px black;
    border-radius:5px;
    background-color: black;
    color: black;

}
#mapsize {
	width: 100%;
}

body {
	margin: 0;
	text-align: center;
	background-color: white;

}

footer{
	margin: 0;
	text-align: center;
	background-color: black;
}
li{
	color: white;
}

.